<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__logo">
                <a href="#">
                    <img src="img/logo/logo.svg" alt="">
                </a>
            </div>
            <ul class="footer__menu">
                <li>
                    <a href="#">Услуги</a>
                </li>
                <li>
                    <a href="#">Отзывы</a>
                </li>
                <li>
                    <a href="#">Блог</a>
                </li>
            </ul>
            <div class="footer__info">
                <div class="footer__address">
                    Москва, Северянинский проезд 1, строение 1
                </div>
                <a href="#" class="footer__phone">
                    +7 (495) 143-84-00
                </a>
            </div>
            <div class="footer__social">
                <ul class="socila">
                    <li>
                        <a href="#">
                            <img class="img-svg" src="img/icons/icon_social_vk.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="img-svg" src="img/icons/icon_social_youtube.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>