.btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.4rem 4rem;
    border-radius: 1.6rem;
    background-color: $mainColor;
    color: $textColorLigh !important;
    transition: background-color .2s ease, transform .1s ease;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.14em;
    min-height: 6.8rem;

    @media #{$mouse-device} {
        &:hover {
            background-color: $hover;

            & svg path:last-child {
                fill: $hover;
            }
        }
    }

    & img, & svg {
        flex: 0 0 auto;
        width: auto;
        height: 4rem;
    }

    @media (max-width: $md3+px) {
        min-height: 5.1rem;
        border-radius: 1rem;
        padding: 1rem 3rem;
        gap: 0.75rem;
        font-size: 1.8rem;

        & img, & svg {
            height: 3rem;
        }
    }

    &:active {
        box-shadow: none;
        transform: scale(0.98);
    }

    &:focus {
        box-shadow: none !important;
    }
}

.btn-secondary {
    display: inline-flex;
    border: 1px solid currentColor;
    color: $textColor;
    border-radius: 1.6rem;
    padding: 2rem 4rem 1.4rem;
    min-height: 6.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.14em;
    background-color: transparent !important;
    transition: color .2s ease;

    @media (max-width: $md3+px) {
        font-size: 1.8rem;
        min-height: 5.3rem;
        padding: 1.4rem 4rem 1rem;
    }

    @media #{$mouse-device} {
        &:hover {
            color: $hover;
        }
    }

    &:active {
        box-shadow: none;
        transform: scale(0.98);
    }

    &:focus {
        box-shadow: none !important;
    }
}

.link-arrow-wrap {
    display: flex;
    justify-content: flex-end;
}

.link-arrow-right {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.14em;
    padding: 2.4rem 4rem;

    @media (max-width: $md3+px) {
        padding: 0rem 4rem;
        font-size: 1.8rem;
    }

    & img , & svg {
        flex: 0 0 auto;
        width: 2rem;
        height:  auto;

        & path {
            fill: currentColor;
        }
    }

    &:after {
        content: "\e904";
        font-family: 'icomoon' !important;
        font-size: 0.8em;
        font-weight: 400;
    }
}