<section class="trumpet-call section-space">
    <div class="trumpet-call__bg">
        <div class="trumpet-call__bg-inner">
            <img src="img/photo/trumpet-call-bg.png" alt="">
        </div>
    </div>
    <div class="trumpet-call__body">
        <div class="container">
            
            <div class="trumpet-call__text text-content text-white last">
                <h2>Записаться на консультацию</h2>
                <p>
                    Наш менеджер перезвонит вам в ближайшее время и поможет записаться на консультацию вашего автомобиля.
                </p>
            </div>
            <div class="trumpet-call__footer">
                <a href="#" class="btn-primary">
                    <img class="img-svg" src="img/icons/telegram.svg" alt="">
                    Записаться
                </a>
            </div>
        </div>
    </div>
</section>