<header class="header @@mod" data-header>
    <div class="container">
        <div class="header__body">
            <div class="header__logo">
                <a href="#">
                    <img src="img/logo/logo.svg" alt="">
                </a>
            </div>

            <nav class="header__menu menu">
                <ul class="menu__list">
                    <li class="menu__list-item current-menu-item">
                        <a class="menu__link" href="#">Услуги</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">Отзывы</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">Блог</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">Контакты</a>
                    </li>
                </ul>
                <div class="menu__addrress">
                    Москва, Северянинский <br> проезд 1, строение 1
                </div>
                <a href="#" class="menu__phone">+7 (495) 143-84-00</a>
            </nav>

            <div class="header__address">
                Москва, Северянинский проезд 1, строение 1
            </div>

            <a href="#" class="header__phone">
                <span>+7 (495) 143-84-00</span>
                <img src="img/icons/phone.svg" alt="">
            </a>

            <div class="header__burger burger" data-toggle-menu>
                <span class="burger__cross"></span>
                <span class="burger__cross"></span>
                <span class="burger__cross"></span>
                <span class="burger__cross"></span>
            </div>
        </div>
    </div>
</header>