.blog {

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        & > li {
            flex: 0 1 calc(25% - (2rem * 3 / 4));

            @media (max-width: $md2+px) {
                flex: 0 1 calc(50% - 1rem);
            }

            @media (max-width: $md3+px) {
                flex: 0 1 100%;
            }
        }
    }
}

.blog-card {
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.5rem;
    color: $lightColor !important;
    gap: 1.6rem;
    min-height: 28rem;

    @media (max-width: $md3+px) {
        min-height: 25.2rem;
        gap: 1.2rem;
    }

    @media #{$mouse-device} {
        &:hover {
            & .blog-card__img {
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 1.6rem;
        overflow: hidden;

        & img {
            position: relative;
            z-index: 1;
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &:before {
            position: absolute;
            content: '';
            z-index: 2;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, #000C1D 0%, rgba(0, 12, 29, 0.00) 62.78%);
        }

        @media #{$mouse-device} {
            &::after {
                position: absolute;
                content: '';
                z-index: 3;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, #002358 0%, rgba(0, 12, 29, 0.00) 62.78%);
                opacity: 0;
                transition: opacity .2s ease;
            }
        }

    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.4em;
        font-weight: 600;
        position: relative;
        z-index: 2;

        @media (max-width: $md3+px) {
            font-size: 1.4rem;
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem 4rem;
        position: relative;
        z-index: 2;
    }

    &__bottom-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.6rem;
        line-height: 1.4em;

        @media (max-width: $md3+px) {
            font-size: 1.4rem;
            gap: 0.8rem;
        }

        & img, & svg {
            height: 2.2rem;
            width: auto;
            flex: 0 0 auto;

            @media (max-width: $md3+px) {
                height: 1.8rem;
            }
        }
    }
}
